# Visual Studio 2008 / Windows Mobile build output
Debug/
Release/
ARMV4I/
*.aps
*.ncb
*.suo
*.user
*.sdf
*.opensdf
*.obj
*.pdb
*.idb
*.ilk
*.exe
*.dll
*.cab
BuildLog.htm

# CI-generated build output.
dist/
obj/
